<div class="main-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Car type</mat-label>
            <mat-select formControlName="carType" placeholder="Car type">
              <mat-option *ngFor="let type of carTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <input matInput type="text" id="dailyRate" formControlName="dailyRate" placeholder="Daily rate">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" id="weeklyRate" formControlName="weeklyRate" placeholder="Weekly rate">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</div>

  